html, body {
    background-color: lightgoldenrodyellow;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.left {
    position: absolute;
    height: 100%;
    left: 0;
}

.right {
    position: absolute;
    height: 100%;
    right: 0;
}

.name {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 8%;
    left: 15%;
}

.name h1 {
    margin: 0;
    font-size: 1000%;
    font-family: sans-serif;
    color: black;
    opacity: .75;
}

.name p {
    margin: 0;
    font-size: 250%;
    font-family: sans-serif;
    color: black;
    opacity: .75;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 90%;
    height: 100%;
    background-color: lightgoldenrodyellow;
    border-right: 20px solid black;
}

li a {
    background-color: black;
    display: block;
    color: white;
    opacity: .75;
    font-size: 200%;
    font-family: sans-serif;
    padding: 50px 50px;
    text-decoration: none;
    border-bottom: 2px solid lightgoldenrodyellow;
}

li a:hover {
    background-color: lightgoldenrodyellow;
    transition: .5s;
    color: black;
    opacity: .75;
}
