html, body {
    background-color: rgba(0, 0, 0, 1);
    height: 100%;
    width: 100%;
    margin: 0;
}

.filter {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-color: rgba(255, 255, 0, 0.2);
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.left {
    position: absolute;
    height: 100%;
    left: 0;
}

.right {
    position: absolute;
    height: 100%;
    right: 0;
}

.darkModeButton {
    z-index: 9999;
    background-color: rgba(0, 0, 0, .5);
    border: none;
    padding: 10px 20px;
    color: white;
    opacity: .75;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
    transition: .5s;
}

button:hover {
    background-color: rgba(250, 250, 210, .5);
    transition: .5s;
    color: black;
    opacity: 1;
}

.socials {
    position: absolute;
    top: 32%;
    right: 20%;
}

.name {
    position: absolute;
    height: 23%;
    width: 100%;
    top: 8%;
    left: 15%;
    background-image: linear-gradient(to right, rgba(250, 250, 210, .5), rgba(250, 250, 210, .5), rgba(0, 0, 0, .5));
    padding-left: 40px;
}

.name h1 {
    margin: 0;
    font-size: 1000%;
    font-family: sans-serif;
    color: black;
    opacity: .75;
}

.name p {
    margin: 0;
    font-size: 250%;
    font-family: sans-serif;
    color: black;
    opacity: .75;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    transition: .5s;
    opacity: 0;
}

    ul:hover {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .3);
        transition: .5s;
        opacity: 1;
    }

li a {
    background-color: black;
    display: block;
    color: white;
    font-size: 200%;
    font-family: sans-serif;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid rgba(250, 250, 210, .5);
    transition: .5s;
}

    li a:hover {
        background-color: rgba(250, 250, 210, 1);
        transition: .5s;
        color: black;
    }

.textbox {
    position: absolute;
    background-color: rgba(250, 250, 210, .8);
    width: 500px;
    padding: 25px 50px 25px 50px;
    border: solid 5px black;
}

.textbox h1 {
    color: rgba(0, 0, 0, 1);
    font-size: 250%;
    font-family: sans-serif;
    text-align: left;
}

.textbox p {
    color: rgba(0, 0, 0, .75);
    font-size: 150%;
    font-family: sans-serif;
    text-align: left;
}

.section {
    position: relative;
    display: block;
    width: 100%;
}